// LARGE SCREEN

.img-FB {
    width: 40%;
}

.presentation {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.presentation-text {
    @include verticalCenter;
    margin: 4vh 0;
    padding: 2em;
    text-align: center;
    width: 60vw;
    height: 20rem;
    font-size: 48px;
    border: solid white 2px;
    border-left: 0;
}


.styles_typicalWrapper__1_Uvh::after {
    z-index: -1;
}

.about {
    @include verticalCenter;
    @include gradientBorderLeft;
    margin-top: 10vh;
    height: 50vh;
    font-size: 32px;
    padding: 50px;
    text-align: center;
}

.school {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 4em;
}

// Start flip card

.flip {
    position: relative;
    perspective: 500px;
}

.content {
    @include verticalCenter;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip:hover .content {
    transform: rotateY(180deg) ;
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.back {
    transform: rotateY(180deg);
  }

// End flip card

.square {
    font-size: 24px;
    height: 15rem;
    width: 15rem;
    margin: 3rem;
    border: 1px solid white
}

.skew {
    transform: skew(+10deg);
}

.oval {
    @include shinyBackground;
    background-size: cover;
    border-radius: 50%;
}

.square > .oval {
    border-width: 0;
    border-style: none;
}

.half {
    @include waveBackground;
    background-size: cover;
}

.parallelogram {
    @include blobBackground;
    background-size: cover;
    transform: skew(-10deg)
}

.parallelogram > .square-container-text > p {
    transform: skew(10deg);
}

.lozenge {
    @include stackedWave;
    transform: rotate(45deg);
    background-size: cover;
}

.lozenge p {
    transform: rotate(-45deg)
}

.square-container-text {
    @include verticalCenter;
    height: 100%;
}

.square-text {
    text-align: center;
    padding: 0 15px 0 15px;
}

.btn-school {
    @include verticalCenter;
}

.text-cut {
    padding: 15px;
    background-color: white;
}

.professional {
    margin-bottom: 1vh;
}

// CARD PRO

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.card {
    width: 35%;
    height: 50vh;
    margin: 25px;
    overflow: hidden;
    position: relative;
    @include verticalCenter;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
}

.name-card {
    margin-top: 0;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover:after {
    height: 100vh;
}

.card:hover .con-text p {
    margin-bottom: 0;
    opacity: 1;
}

h4 {
    margin-top: 10vh;
}

.pro{
    @include waveProBackground;
}

.no-pro {
    @include cardBackground;
}

.card:after {
    width: 100%;
    content: '';
    left: 0;
    bottom: 0;
    height: 100vh;
    position: absolute;
    background-size: cover;
    z-index: 20;
    transition: all 1s ease; 
}

.card .con-text {
    z-index: 30;
    position: relative;
    color: white;
    padding: 20px;
    padding-bottom: 30px;
}

.card .con-text p {
    font-size: 22px;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

.con-text > h3 {
    margin: 0;
}

.date {
    font-size: 16px !important;
    margin-top: 5px;
    margin-bottom: 20px !important;
}

.date-small {
    margin-bottom: 5px !important;
    font-size: 16px !important;
}

.text-ad3 {
    margin-top: 20px !important;
}

.container-portfolio {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    @include verticalCenter;
}

.text-left {
    width: 60%;
    padding: 2rem 1rem;
    font-size: 30px;
}

.card-portfolio {
    height: auto;
    padding: 1rem;
    @include flexAround;
    flex-wrap: wrap;
}

.square-portfolio {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    text-align: center;
}

.left {
    @include gradientBorderLeft;
}

.right {
    @include gradientBorderRight;
}

.text-square-portfolio {
    font-family: $title-font;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 1rem;
}

.btn-portfolio {
    padding: 0.5rem;
    margin-top: 5vh;
}

.btn-portfolio > button {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.5s;
}

.btn-portfolio >button:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
    text-decoration-color: black;
    background-color: white;
    color: black;
}

.container-hobbies {
    @include flexAround;
    width: auto;
    flex-wrap: wrap;
}

.container-hobbies > .container-icon-text {
    transition: 0.5s;
}

.container-hobbies > .container-icon-text:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.container-icon-text {
    margin: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-icon-text > p {
    font-size: 22px;
    margin-top: 1rem;
}

.icons {
    height: 50px;
    width: 50px;
    width: auto;
    color: white;
}

// DESKTOP

@media screen and (max-width: 1920px) {

}


@media screen and (max-width: 1200px) {
    .presentation-text {
        height: 15rem;
    }
}

// RESPONSIVE TAB

@media screen and (max-width: 960px) {

    .presentation {
        display: block;
        text-align: center;
    }

    .img-FB {
        width: 80%;
    }

    .presentation-text {
        @include verticalCenter;
        width: auto;
        margin: -0.2em 15vw 0 15vw;
        text-align: center;
        font-size: 32px;
        height: 5em;
        border-top: 0;
        border-left: 2px solid white;
    }

    .about {
        padding: 25px;
        height: auto;
    }

    .school {
        margin: 0;
    }

    .lozenge {
        width: 15rem;
    }

    .container-card {
        height: 70vh;
    }

    .develop {
        margin-bottom: 50vh;
    }

    .card {
        width: 70vw;
    }

    .container-portfolio {
        margin-top: 265vh;
    }

    .con-text {
        text-align: center;
    }

    .container-portfolio {
        display: block;
    }

    .text-left {
        width: auto;
        font-size: 24px;
    }

    .card-portfolio {
        padding: 0;
        justify-content: space-between;
        align-items: flex-end;
    }

    .left, .right {
        padding: 0;
    }

    .square-portfolio {
        width: 40vw;
        height: auto;
    }

    .btn-portfolio {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container-icon-text > p {
        font-size: 18px;
    }

    .icon-footer {
        height: 25px;
        width: 25px;
    }
}

// RESPONSIVE MOBILE

@media screen and (max-width: 480px) {
    .img-FB {
        width: 100%;
    }

    .presentation-text {
        margin: -0.2em 5vw 0 5vw;
    }

    .about {
        font-size: 22px;
        padding: 20px;
    }

    .square {
        margin: 5vh 0 5vh 0;
        height: 14rem;
        width: 14rem;
        font-size: 22px;
    }

    .lozenge {
        width: 14rem;
        height: 14rem;
    }

    .container-card {
        height: auto;
    }

    .develop {
        margin-bottom: 0;
    }

    .card {
        width: 100%;
        margin: 5vh 0 5vh 0;
    }

    .card > .con-text > p {
        font-size: 20px;
    }

    .container-portfolio {
        margin: 0;
    }

    .text-left {
        font-size: 22px;
        text-align: center;
    }

    .card-portfolio {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .square-portfolio {
        width: 100%;
    }

    .icons {
        height: 60px;
    }

    .icon-footer {
        width: 22px;
        height: 22px;
    }
}

//RESPONSIVE TINY MOBILE
@media screen and (max-width: 385px) {

    .square {
        height: 11rem;
        width: 11rem;
    }

}