.notFound {
    @include verticalCenter;
    height: 70vh;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
}

.btnAccueil {
    margin-top: 2rem;
    font-size: 24px;
    border: 2px solid black;
    padding: 5px 1rem 5px 1rem;
}