.portfolio {
    @include gradientBorderLeft;
}

.hex, .eden-roliste {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-left {
    width: 50%;
    border-right: 1px solid white;
}

.portfolio-left > p {
    margin-top: 2vh;
    font-size: 26px;
}

.btn-more {
    margin-top: 5vh;
    font-size: 20px;
}

.portfolio-left, .portfolio-right {
    padding: 2em;
}

.portfolio-right {
    @include verticalCenter;
    flex-direction: column;
    width: 50%;
}

.img-hex {
    width: 200px;
    height: 200px;
    @include gradientPortfolioHeXLeft;
}

.img-eden {
    width: 12vw;
    @include gradientPortfolioEdenLeft;
}

.btn-hex {
    @include gradientPortfolioHeXRight;
}

.btn-hex, .btn-eden {
    font-size: 20px;
    margin: 0;
    margin-top: 5vh;
}

.btn-eden {
    @include gradientPortfolioEdenRight;
}

// RESPONSIVE TAB

@media screen and (max-width: 960px) {

    h3 {
        margin-top: 2vh;
    }

    .hex {
        flex-direction: column;
    }

    .portfolio-left {
        border-right: 0;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .btn-more {
        display: block;
    }

    .portfolio-right {
        width: 100%;
    }

    .portfolio-left > p {
        font-size: 22px;
    }

}

// RESPONSIVE MOBILE

@media screen and (max-width: 480px) {

    .portfolio-left > p {
        font-size: 20px;
    }

    .img-hex {
        height: 180px;
        width: 180px;
    }

}