.portfolio {
    @include gradientBorderLeft;
}

.hex, .eden-roliste, .lyra, .urwebee, .karel, .mbm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-left {
    width: 50%;
    border-right: 1px solid white;
}

.portfolio-left > p {
    margin-top: 2vh;
    font-size: 26px;
}

.btn-more {
    font-size: 20px;
}

.container-btn-more > a > .btn-more{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.5s;
}

.container-btn-more >a > .btn-more:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
    text-decoration-color: black;
    background-color: white;
    color: black;
}

.container-btn-more {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.portfolio-left, .portfolio-right {
    padding: 2em;
}

.portfolio-right {
    @include verticalCenter;
    flex-direction: column;
    width: 50%;
}

.img-hex {
    width: 200px;
    @include gradientPortfolioHeXLeft;
}

.img-eden {
    width: 200px;
    @include gradientPortfolioEdenLeft;
}

.img-lyra {
    width: 200px;
    @include gradientPortfolioLyraLeft;
}

.img-urwebee {
    width: 250px;
    padding: 2em;
    @include gradientPortfolioUrwebeeLeft;
}

.img-karel {
    width: 200px;
    @include gradientPortfolioKarelLeft;
    padding: 2em;
}

.img-mbm {
    width: 400px;
    @include gradientPortfolioMbmLeft;
    padding: 2em;
}

.btn-hex {
    @include gradientPortfolioHeXRight;
}

.btn-eden {
    @include gradientPortfolioEdenRight;
}

.btn-lyra {
    @include gradientPortfolioLyraRight;
}

.btn-urwebee {
    @include gradientPortfolioUrwebeeRight;
}

.btn-karel {
    @include gradientPortfolioKarelRight;
}

.btn-mbm {
    @include gradientPortfolioMbmRight;
}

.btn-hex, .btn-eden, .btn-lyra, .btn-urwebee, .btn-karel, .btn-mbm {
    font-size: 20px;
    margin: 0;
    margin-top: 5vh;
}


// RESPONSIVE TAB

@media screen and (max-width: 960px) {

    h3 {
        margin-top: 2vh;
    }

    .hex {
        flex-direction: column;
    }

    .portfolio-left {
        border-right: 0;
        width: 100%;
    }

    .portfolio-right {
        border-bottom: 1px solid white;
    }

    .btn-more {
        display: block;
    }

    .portfolio-right {
        width: 100%;
    }

    .portfolio-left > p {
        font-size: 22px;
    }

}

// RESPONSIVE MOBILE

@media screen and (max-width: 480px) {

    .portfolio-left > p {
        font-size: 20px;
    }

    .img-hex {
        height: 180px;
        width: 180px;
    }

    .img-urwebee {
        width: 200px;
    }

    .img-karel {
        width: 150px;
    }

    .img-mbm {
        width: 220px;
        padding: 1em;
    }

    .btn-hex, .btn-eden, .btn-lyra, .btn-urwebee {
        font-size: 18px;
    }

}