@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Dosis:wght@200;300&family=Josefin+Sans:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');
@import './components/background.scss';

$main-font : 'Dosis',serif;
$title-font : 'Josefin Sans',sans-serif;
$h1-font : 'Dancing Script',sans-serif;

$main-color : rgb(255, 255, 255);
$background-color : rgb(225, 225, 225);

$black-layer-blur : backdrop-filter blur(6px);

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin gradientBorderRight {
    border-image: linear-gradient(to right, #3379C2, white) 1;
    border-width: 3px;
    border-style: solid;
}

@mixin gradientBorderLeft {
    border-image: linear-gradient(to left, #3379C2, white) 1;
    border-width: 3px;
    border-style: solid;
}

@mixin gradientPortfolioHeXLeft {
    border-image: linear-gradient(to left, #E6550F, #000000) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioHeXRight {
    border-image: linear-gradient(to right, #E6550F, #000000) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioEdenLeft {
    border-image: linear-gradient(to left,#FDD591, #A5352B) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioEdenRight {
    border-image: linear-gradient(to right, #FDD591, #A5352B) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioLyraLeft {
    border-image: linear-gradient(to left,#ffffff, #000000) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioLyraRight {
    border-image: linear-gradient(to right, #ffffff, #000000) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioUrwebeeLeft {
    border-image: linear-gradient(to left,#ffffff, #F3C622) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioUrwebeeRight {
    border-image: linear-gradient(to right, #ffffff, #F3C622) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioKarelLeft {
    border-image: linear-gradient(to left,#000000, #D8B255) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioKarelRight {
    border-image: linear-gradient(to right, #000000, #D8B255) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioMbmLeft {
    border-image: linear-gradient(to left,#ffffff, #3568B2) 1;
    border-width: 2px;
    border-style: solid;
}

@mixin gradientPortfolioMbmRight {
    border-image: linear-gradient(to right,#ffffff, #3568B2) 1;
    border-width: 2px;
    border-style: solid;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0.5rem 2rem 0 2rem;
    font-family: $main-font;
    color: white;
    @include mainBackground;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    font-family: $h1-font;
    font-weight: 700;
    font-size: 46px;
    width: max-content;
}

h2 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: white;
}

h3 {
    font-family: $title-font;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 1rem;
}

h4 {
    text-align: center;
}

a {
    color: $main-color;
    list-style-type: none;
    text-decoration: none;
}

label {
    font-size: 18px;
}

button {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    font-family: $main-font;
    font-weight: 300;
    font-size: 18px;
    margin: auto;
    color: $main-color;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// RESPONSIVE TAB

@media screen and (max-width: 960px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        margin: 4rem 0 1rem 0;
    }
}

// RESPONSIVE MOBILE 

@media screen and (max-width: 480px) {

    h1 {
        font-size: 36px;
        font-weight: 200;
    }

    h2 {
        font-size: 28px
    }

    h3 {
        font-size: 24px;
    }
}