.container-logo-urwebee {
    display: flex;
    justify-content: center;
}

.logo-urwebee {
    width: 20vw;
    margin-top: 5vh;
}

.container-btn-urwebee {
    text-align: center;
}

.container-btn-urwebee > button {
    margin: 5vh 0;
}

.container-text-urwebee {
    @include gradientPortfolioUrwebeeLeft;
    padding: 0 3em;
}

.container-text-urwebee > ul > li {
    list-style-type: circle;
    font-size: 22px;
    padding-top: 15px;
}

.logo-html, .logo-css, .logo-javascript, .logo-figma, .logo-github {
    width: 5vw;
    margin: 10px 0;
}

.logo-php {
    width: 10vw;
}

// RESPONSIVE TAB

@media screen and (max-width: 960px) {

    .logo-urwebee {
        width: 35vw;
    }

    .container-text-urwebee > ul > li {
        font-size: 18px;
    }

    .logo-html, .logo-css, .logo-javascript, .logo-figma, .logo-github {
        width: 10vw;
    }

    .logo-php {
        width: 15vw;
    }

}

// RESPONSIVE MOBILE

@media screen and (max-width: 480px) {

    .logo-urwebee {
        width: 50vw;
    }

    .container-text-urwebee {
        padding: 0 2em;
    }

    .logo-html, .logo-css, .logo-javascript, .logo-figma, .logo-github {
        width: 20vw;
    }

    .logo-php {
        width: 25vw;
    }

}